<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="~{layout/header.html::head_base_data}"></div>
    <title th:text="#{user_statisticpage.title}"></title>
</head>
<body>
<div th:include="~{layout/header.html::header}"></div>
<div th:include="~{layout/header.html::userHeader}"></div>
<div name="deliveries-which-wait-getting" class="container">
    <div th:each="deliveryForUser : ${deliveriesWhichAddressedForUser}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="#{user-deliverys-to-get.card.title}+${deliveryForUser.addresser.email}"></h5>
            </div>
            <ul class="list-group list-group-flush">

                <li th:if="${#locale.getISO3Language() == 'eng'}" class="list-group-item" th:text="#{user-deliverys-to-get.card.list.from.city}+${deliveryForUser.way.localitySand.nameEn}"></li>
                <li th:if="${#locale.getISO3Language() == 'eng'}" class="list-group-item" th:text="#{user-deliverys-to-get.card.list.to.city}+ ${deliveryForUser.way.localityGet.nameEn}"></li>

                <li th:if="${#locale.getISO3Language() == 'rus'}" class="list-group-item" th:text="#{user-deliverys-to-get.card.list.from.city}+${deliveryForUser.way.localitySand.nameRu}"></li>
                <li th:if="${#locale.getISO3Language() == 'rus'}" class="list-group-item" th:text="#{user-deliverys-to-get.card.list.to.city}+ ${deliveryForUser.way.localityGet.nameRu}"></li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link" th:text="#{user-deliverys-to-get.card.confirm.got}"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>