<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="~{layout/header.html::head_base_data}"></div>
    <title th:text="#{user_statisticpage.title}"></title>
</head>
<body>
<div th:include="~{layout/header.html::header}"></div>
<div th:include="~{layout/header.html::userHeader}"></div>
<div class="container" name="deliveries">
    <div class="row border border-info mt-2 rounded" th:each="billInfo : ${BillDtoPage}">
        <p1 th:text="${billInfo.id}+${billInfo.deliveryId}+${billInfo.costInCents}
+${billInfo.dateOfPay}"></p1>
    </div>
    <div class="pagination-div">
    <span th:if="${BillDtoPage.hasPrevious()}">
        <a th:href="@{/user/user-statistic(page=${BillDtoPage.number - 1},size=${BillDtoPage.size})}">Previous</a>
    </span>
        <th:block th:each="i : ${#numbers.sequence(0, BillDtoPage.totalPages - 1)}">
            <span class="selected" th:if="${BillDtoPage.number == i}">[[${i}+1]]</span>
            <span th:unless="${BillDtoPage.number == i}">
             <a th:href="@{/user/user-statistic(page=${i},size=${BillDtoPage.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${BillDtoPage.hasNext()}">
        <a th:href="@{/user/user-statistic(page=${BillDtoPage.number + 1},size=${BillDtoPage.size})}">Next</a>
    </span>
    </div>
</div>
</body>
</html>