<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="~{layout/header.html::head_base_data}"></div>
    <title th:text="#{user_statisticpage.title}"></title>
</head>
<body>
<div th:include="~{layout/header.html::header}"></div>
<div th:include="~{layout/header.html::userHeader}"></div>
<div name="deliveries-which-wait-getting" class="container">
    <div class="row border border-info mt-2 rounded" th:each="deliveryForUser : ${deliveriesWhichIsNotPaid}">
        <div class="card-body col-md-3">
            <h5 class="card-title" th:text="#{user-delivery-request-confirm.card.title}+${deliveryForUser.addressee.email}"></h5>
        </div>
        <div class="col-md-4 mt-3">
            <p1 th:if="${#locale.getISO3Language() == 'eng'}" class="list-group-item" th:text="#{user-delivery-request-confirm.card.list.from.city}+${deliveryForUser.way.localitySand.nameEn}"></p1>
            <p1 th:if="${#locale.getISO3Language() == 'rus'}" class="list-group-item" th:text="#{user-delivery-request-confirm.card.list.from.city}+${deliveryForUser.way.localitySand.nameRu}"></p1>
        </div>
        <div class="col-md-3 mt-3">
            <p1 th:if="${#locale.getISO3Language() == 'eng'}" class="list-group-item" th:text="#{user-delivery-request-confirm.card.list.to.city}+ ${deliveryForUser.way.localityGet.nameEn}"></p1>
            <p1 th:if="${#locale.getISO3Language() == 'rus'}" class="list-group-item" th:text="#{user-delivery-request-confirm.card.list.to.city}+ ${deliveryForUser.way.localityGet.nameRu}"></p1>
        </div>
        <div class="col-md-3 mt-3">
            <p1 class="list-group-item" th:text="#{user-delivery-request-confirm.card.timeondelivery}+ ${deliveryForUser.way.timeOnWayInDays}"></p1>
        </div>
        <div class="col-md-3 mt-3">
            <p1 class="list-group-item" th:text="#{user-delivery-request-confirm.card.priceondelivery}+ ${deliveryForUser.costInCents}"></p1>
        </div>

        <div class="card-body col-md-2">
            <form class="form" method="post" th:action="@{/user/user-delivery-request-confirm}">
                <input th:name="deliveryId" th:value="${deliveryForUser.id}" type="hidden">
                <button class="btn btn-success" type="submit" th:text="#{user_statisticpage.button.confirm.receipt.delivery}"></button>
            </form>
        </div>

    </div>
</div>
</body>
</html>