<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="~{layout/header.html::head_base_data}"></div>
    <title th:text="#{user_statisticpage.title}"></title>
</head>
<body>
<div th:include="~{layout/header.html::header}"></div>
<div th:include="~{layout/header.html::userHeader}"></div>
<div class="container" name="deliveries">
    <div class="row border border-info mt-2 rounded" th:each="deliveryForUser : ${userDeliversPage}">
        <p1 th:text="${deliveryForUser.id}+${deliveryForUser.delivery.id}+${deliveryForUser.costInCents}
+${deliveryForUser.dateOfPay}"></p1>
    </div>
    <div class="pagination-div">
    <span th:if="${userDeliversPage.hasPrevious()}">
        <a th:href="@{/user/user-statistic(page=${userDeliversPage.number - 1},size=${userDeliversPage.size})}">Previous</a>
    </span>
        <th:block th:each="i : ${#numbers.sequence(0, userDeliversPage.totalPages - 1)}">
            <span class="selected" th:if="${userDeliversPage.number == i}">[[${i}+1]]</span>
            <span th:unless="${userDeliversPage.number == i}">
             <a th:href="@{/user/user-statistic(page=${i},size=${userDeliversPage.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${userDeliversPage.hasNext()}">
        <a th:href="@{/user/user-statistic(page=${userDeliversPage.number + 1},size=${userDeliversPage.size})}">Next</a>
    </span>
    </div>
</div>
</body>
</html>