<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="~{layout/header.html::head_base_data}"></div>
    <title th:text="#{userprofilepage.title}"></title>
</head>
<body>
<div th:include="~{layout/header.html::header}"></div>
<table class="table" style="
        width: 40%;
        margin: 0 auto;
        background:  #0c5460;
        border-radius: 10px;
        color: white;
        ">
    <thead>
    <tr>
        <th th:text="#{userlist.page.email.colum.name}"></th>
        <th th:text="#{userlist.page.role.colum.name}"></th>
        <th th:text="#{userlist.page.password.colum.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${user.email}">  </span></td>
        <td><span th:text="${user.roleType}"> </span></td>
        <td><span  th:text="${user.password}"></span> </td>
    </tr>
    </tbody>
    <a th:if="${user.roleType.name()=='ROLE_ADMIN'}" th:href="@{/admin/users}" th:text="#{button.to.userpage}"></a>
</table>
</body>
</html>