<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userlist.page.header}"></title>
</head>
<body>
<div th:include="~{layout/header.html::header}"></div>
<table class="table" style="
        width: 40%;
        margin: 0 auto;
        background:  #0c5460;
        border-radius: 10px;
        color: white;
        ">
    <thead>
    <tr>
        <th th:text="#{userlist.page.password.colum.name}"></th>
        <th th:text="#{userlist.page.email.colum.name}"></th>
        <th th:text="#{userlist.page.role.colum.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${userList}">
        <td ><span  th:text="${user.password}"></span> </td>
        <td><span th:text="${user.email}">  </span></td>
        <td><span th:text="${user.roleType}"> </span></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/home}" th:text="#{button.to.homepage}"></a>

</table>
</body>
</html>